Data
requirements.txt
assignment3
mobilenet_seg_model.tf/keras_metadata.pb
mobilenet_seg_model.tf/keras_metadata.pb
mobilenet_seg_model.tf/saved_model.pb
mobilenet_seg_model.tf/keras_metadata.pb
mobilenet_seg_model.tf/variables/variables.index
mobilenet_seg_model.tf/variables/variables.data-00000-of-00001
